[2021-01-30 14:59] shirakaba opened #2 "Setting an inlineStyle of `align-items: center;` gives the error `Invalid value: alignItems: "23"`"
Other values like `align-items: flex-end;` work happily.

# Workaround

Instead of:

`align-items: center;`

Set:

`align-items: 'center';`

[2021-01-30 14:59] shirakaba opened #3 "Setting the style `text-align: center;` on a <text> element has no effect."
It is suggested that this is one of the CSS properties that should apply to all widgets:

https://doc.qt.io/qt-5/stylesheet-reference.html#list-of-properties

Using quotes, i.e. `text-align: 'center';` (see https://github.com/shirakaba/svelte-nodegui/issues/1), does not improve things, either.

Note that QLabel does support an [`alignment` attribute](https://doc.qt.io/qt-5/qlabel.html#alignment-pr

[2021-01-30 15:00] shirakaba opened #4 "Some styles (e.g. `width: 100%;`) only work with quotes (e.g. `width: '100%';`)."
The root cause of: #2.

From Atul:

Sounds like I'd better address this in NodeGUI itself rather than just Svelte NodeGUI.

[2021-01-30 15:19] shirakaba opened #5 "HMR/live-reload support"
# Live reload

The minimal bash script `livereload.sh` seems to do the trick for live reload, simply by killing the app and relaunching it upon any Webpack hot update; I'm not sure we need anything more than that. It remains to be seen whether it works on non-bash CLIs, like that of Windows.

I initially had some other thoughts about how we could implement it (https://github.com/remy/nodemon/ and

[2021-01-30 15:19] shirakaba opened #6 "Support for CSS classes"
See:

* https://doc.qt.io/qt-5/stylesheet-reference.html
* https://doc.qt.io/qt-5/stylesheet-syntax.html
* https://forum.qt.io/topic/17237/using-css-class/6

The forum post suggested this approach:

[code]

[code]

[2021-01-30 15:20] shirakaba opened #7 "Support for styling elements"
This is possible, as long as you don't write it into a <style> element (Svelte compiles it out, as it finds no <QtLabel> element in your HTML tree):

[code]

This would be preferred, as we use elements with names like <text>:

[code]

To achieve this, we'd need to implement a Svelte postprocessor that renames `text` to the corresponding underlying component, i.e. `QLabel`.

We could work around th

[2021-01-30 15:21] shirakaba opened #8 "Unexpected handling of whitespace with respect to child text nodes"
## Problem

When text content is specified in between HTML tags, I'd expected the Svelte runtime to to create a new text node for each line, and for each text node to have its text trimmed. I might be mistaken, though.

It's unclear what are the responsibilities of the Svelte runtime relative to the renderer (and NodeGUI itself), and so I'm cautious about performing any splitting and trimming on t

[2021-01-30 15:21] shirakaba opened #9 "Possible need for a preprocessor"
See https://github.com/halfnelson/svelte-native-preprocessor:

We at least need the namespace aspect, as if PR https://github.com/sveltejs/svelte/pull/5652 lands, we'll require such preprocessing in order to close https://github.com/shirakaba/svelte-nodegui/issues/9.

I'm unsure whether we'll need it for `bind:text`; I haven't yet tried that feature (and indeed may not be able to if event listener

[2021-01-30 15:28] shirakaba opened #10 "Sort out contributors"
Let's add a [contributors](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#people-fields-author-contributors) field to `package.json`. We'll add @mrsauravsahu in there for a start.

[2021-01-30 15:28] shirakaba opened #11 "Should we make a Svelte NodeGUI documentation site, or will the NodeGUI one suffice?"

[2021-01-30 15:33] shirakaba opened #12 "Rename any mentions of "Svelte Desktop" in the code to "Svelte NodeGUI""
`svelte-nodegui` is probably a better description of what the project is (Node-based JS runtime, with a GUI, rendered by Svelte). But `svelte-desktop` kinda spells out that it's a desktop app development framework. So it's a debate between describing _what it is_ vs. _what it's for_.

Both Node.js and Qt can target mobile, however, so if NodeGUI ever one day targeted mobile as well, then we'd be s

[2021-01-30 15:37] shirakaba opened #13 "Double-check licences"
Svelte NodeGUI is built upon a few other projects. I've been careful to copy in and include the licences for each project, but they may be scattered around the source code. It would be better, I think, to concatenate them into a single LICENSE file.

[2021-01-30 15:41] shirakaba opened #14 "Enable development builds of the app using esbuild rather than Webpack"
Not too sure what would be involved with this, but may not be out of reach.

[2021-01-30 15:43] shirakaba opened #15 "Upon live reload of the app, make any windows re-appear at the last positions they'd been dragged to"
Quite annoying that it keeps snapping back to the dead centre of the screen.

[2021-01-30 16:42] #10 closed, assigned to nobody

[2021-01-31 16:31] shirakaba opened #16 "Add typings for event handlers"
See https://docs.nodegui.org/docs/guides/handle-events/#how-do-i-know-which-events-are-supported- and the links mentioned in that text.

[2021-01-31 16:34] shirakaba opened #17 "Create a sample app"
Would be best to add it to here, rather than this repo: https://github.com/nodegui/examples

Copying one of the existing apps like the Calculator would be adequate.

[2021-02-06 21:33] shirakaba opened #18 "Install AllContributors bot for repo"
I don't have the necessary access to install this bot for the repo; @a7ul, would you be able to help with this, please? Thanks!

https://allcontributors.org/docs/en/bot/usage

[2021-02-06 21:36] shirakaba opened #19 "Access to @nodegui/svelte-nodegui npm package namespace"
In order to publish an npm package named `@nodegui/svelte-nodegui`, I would need npm access to the `@nodegui` organisation; is this the right way to go about things and could you please help with this, @a7ul? Thanks!

My npm user is [shirakaba](https://www.npmjs.com/~shirakaba).

[2021-02-06 21:52] #12 closed, assigned to shirakaba

[2021-02-06 22:33] shirakaba opened #21 "Stop bundling source files from React NodeGUI"
We're currently bundling some of the source for React NodeGUI in [src/dom/react-nodegui](src/dom/react-nodegui), rather than just importing build files from `node_modules/react-nodegui`.

There was a compelling reason for this, but unfortunately I've forgotten.

We use React NodeGUI in a few places:

* To fill in the Svelte NodeGUI JSX Intrinsic typings: [src/svelte-nodegui.ts](src/svelte-nodegui.

[2021-02-07 09:44] #18 closed, assigned to a7ul

[2021-02-07 13:22] mrsauravsahu opened #22 "Transfer mrsauravsahu/svelte-nodegui-preprocessor to nodegui org"
We will admin privileges to transfer the private `mrsauravsahu/svelte-nodegui-preprocessor` repo to this org. @A7ul can you please help with this? 😄

[2021-02-07 14:06] #19 closed, assigned to a7ul

[2021-02-07 14:15] #22 closed, assigned to a7ul

[2021-02-21 23:35] shirakaba opened #24 "Can't publish @nodegui/svelte-nodegui"
I'm unable to publish `@nodegui/svelte-nodegui`. Just to confirm, I am logged in as `shirakaba` when using `npm` via the CLI:

[code]

... And I can confirm via npmjs.com that this user is part of the `@nodegui` organisation:

<img width="978" alt="image" src="https://user-images.githubusercontent.com/14055146/108642486-356dae00-749d-11eb-829d-f84dcc5a9993.png">

However, when I come to deploy the

[2021-02-21 23:44] #24 closed, assigned to a7ul

[2021-02-21 23:45] shirakaba opened #25 "Documentation"
Svelte NodeGUI literally uses React NodeGUI under-the-hood so I'm somewhat tempted to just point users at that docs site and call it a job done; but at the same time, people like things in one place. Wondering whether there's a low-effort way to move forwards on this?

CC @a7ul

[2021-02-21 23:46] #11 closed, assigned to nobody

[2021-02-24 12:20] mrsauravsahu opened #26 "bug: app gives module not found on startup when trying to use npm package"
## Issue
Cannot resolve `phin` package

- Here's a screenshot of the error.

![Screenshot 2021-02-24 at 5 35 56 PM](https://user-images.githubusercontent.com/9134050/108999624-8f05f080-76c8-11eb-90c8-2a183bc8596c.png)

## Workaround

Installing `phin` with an `npm install phin` fixes this issue for now.

[2021-02-27 18:54] #26 closed, assigned to shirakaba

[2021-02-27 19:35] a7ul commented on #25
Sure 👍🏽

[2021-02-27 19:37] a7ul commented on #25
Works !!!!
https://svelte.nodegui.org/

[2021-02-27 19:42] shirakaba commented on #25
@a7ul I'm still getting that "This connection is not private" message, even on a browser that won't have cached it yet – I'll wait for a bit and see if it self-resolves.

[2021-02-27 19:42] shirakaba commented on #25
@a7ul It's working on my end now, too!

[2021-02-27 19:43] a7ul commented on #25
Congrats @shirakaba and @mrsauravsahu

[2021-02-27 19:44] a7ul commented on #25
Might have missed this 🙈  on the home page. The image has react code
<img width="1242" alt="image" src="https://user-images.githubusercontent.com/4029423/109398326-8cabcc80-793c-11eb-810f-c74453b88b47.png">

[2021-02-27 19:50] shirakaba commented on #25
@a7ul Ah, good catch! I may well have missed mentions of React if they were invisible to text search 😅

I'll be taking a break for now. If anyone finds further glaring issues with the docs, let's just collect them in this thread and I can address them in one go.

[2021-02-27 20:15] shubhamzanwar commented on #25
Woop woop 🚀
Super cool work!

[2021-02-27 20:26] shirakaba opened #28 "AllContributors bot hasn't made PR to update README"
Just spotted this. Although AllContributors is installed as an action (established in #18), it hasn't made a PR to fill out the table of contributors in the README (which I'd have expected to sync up with the [.all-contributorsrc](https://github.com/nodegui/svelte-nodegui/blob/main/.all-contributorsrc) that I've written here). I'm not sure how to force it to update.

Maybe now that it's public for

[2021-02-27 20:28] shirakaba commented on #28
Well, that didn't work!

[2021-02-27 20:32] shirakaba commented on #28
@all-contributors please add @shirakaba for code

[2021-02-27 20:34] shirakaba commented on #28
Well that's an exasperating reason for failure. I'll try making a PR to rename `Readme.md` to `README.md` (or adjust my `.all-contributorsrc` to expect the former) later.

[2021-02-28 12:40] shirakaba commented on #28
@all-contributors please add @shirakaba for code

[2021-02-28 12:42] shirakaba commented on #28
Fixed in #32

[2021-02-28 12:42] #28 closed

[2021-02-28 13:18] shirakaba commented on #25
Fixed in #33!

An update on these blockers:

1. I've made a makeshift fix for the `phin` issue (#26, solved by commit https://github.com/nodegui/svelte-nodegui/commit/a62490ee391634bef6518ef0619ddd9fa4a01897). We can revisit it later to find a cleaner fix than exposing it as a peerDependency.
2. I've been looking into typings for event handlers on branch https://github.com/nodegui/svelte-nodegui/t

[2021-02-28 13:27] shirakaba commented on #25
So we could technically make a release announcement any time from now. I'm just thinking of the best time to maximise impact.

I happen to be doing an episode of Svelte Radio to talk about it on Tuesday – but that episode won't be released for 3-4 weeks (and I'm too impatient to wait that long). If we made the official announcement before then, the main benefit is that the hosts would have a chanc

[2021-02-28 13:39] shirakaba commented on #2
Duplicate of #4.

[2021-02-28 13:39] #2 closed

[2021-02-28 13:40] shirakaba commented on #3
Duplicate of #7 (can't style elements) and #4 (CSS values need to be quoted). We'll continue the discussions there.

[2021-02-28 13:40] #3 closed

[2021-03-03 22:26] shirakaba commented on #25
I'll close this issue in favour of more specific ones, now that we have a docs site up.

I'll announce the project on Twitter, Hacker News, and Reddit sometime between 8-9 pm GMT on Friday! Will share the link to the GitHub repo rather than the docs website.

[2021-03-03 22:26] #25 closed

[2021-03-03 22:27] shirakaba commented on #9
I've published the preprocessor and incorporated it into both this repo's playground app and the official [svelte-nodegui-starter](https://github.com/nodegui/svelte-nodegui-starter). It works perfectly, thanks @mrsauravsahu!

[2021-03-03 22:27] #9 closed

[2021-03-04 10:27] mrsauravsahu commented on #9
Ah thanks @shirakaba for taking the lead on this. Great to hear that! 😃

[2021-03-05 18:12] repomaa opened #34 "Reactivity is not working"
Hi! I tried out svelte-nodegui but found that reactivity isn't working. See this example component:

[code]

[2021-03-05 19:11] shirakaba commented on #34
@repomaa Looking into it...

[2021-03-05 19:58] shirakaba commented on #34
Fixed in `v0.0.1-alpha.7`! Huge thanks for catching this :)

[2021-03-05 19:58] #34 closed

[2021-03-05 22:28] ISNIT0 opened #35 "Would you Jamie give a talk at SvelteSummit?"
Hey @shirakaba!
We (the SvelteSummit team) would love to have you submit a talk about svelte-nodegui to [SvelteSummit](https://sveltesummit.com) 2021!

https://sessionize.com/svelte-summit-spring-2021

Do let me know if you have any questions about the conference or about submitting a talk!

[2021-03-05 22:31] ISNIT0 commented on #35
Closing: I just noticed you've already submitted a talk 😉

[2021-03-05 22:31] #35 closed

[2021-03-05 23:45] shirakaba opened #36 "Flickering when adding an element into the DOM"
Reported on the Svelte Discord, on the `#nativedev` channel by user `_nothing`, who had just been experimenting with [svelte-nodegui-starter](https://github.com/nodegui/svelte-nodegui-starter):

https://user-images.githubusercontent.com/14055146/110186231-7d30f580-7e0c-11eb-975d-a9b3ce8a4426.mov

[code]

`_nothing` confirmed that setting a fixed window size didn't improve the situation.

[2021-03-05 23:49] shirakaba commented on #36
It looks like, during the flicker, the button starts huge:

0:02:

<img width="384" alt="image" src="https://user-images.githubusercontent.com/14055146/110186445-31cb1700-7e0d-11eb-9512-619e7130026d.png">

0:06:

<img width="384" alt="image" src="https://user-images.githubusercontent.com/14055146/110186398-021c0f00-7e0d-11eb-88ac-690defd3da11.png">

It's interesting to note that, although it start

[2021-03-06 08:06] a7ul commented on #36
Hey this should be fixed in the latest version

there was a pr for bugs with flex layout here: https://github.com/nodegui/nodegui/pull/814

can you bump the nodegui and react nodegui versions underneath?

[2021-03-06 09:28] pannous opened #37 "Path to webgpu"
which steps would need to be taken to enable webGPU in nodegui?

[2021-03-06 09:51] vikbert opened #38 "can't npm install after fresh checkout"
hello, I cloned the repo and do "npm install", but got the following error that I couldn't fix by myself.

_

_

[2021-03-06 09:54] vikbert commented on #38
It failed on

[2021-03-06 10:02] shirakaba commented on #38
That’s failed on one of NodeGUI’s install scripts; could you file this issue on the NodeGUI repo instead? I myself am not sure how its installation process works.

[2021-03-06 10:02] #38 closed

[2021-03-06 11:41] justanotheranonymoususer opened #39 "Typos in license in npm website"
There are several typos here in the license text:
https://www.npmjs.com/package/@nodegui/nodegui/v/0.0.11?activeTab=readme#license

I don't know how to contribute a fix.

[2021-03-06 13:15] shirakaba commented on #39
That’s the readme for `@nodegui/nodegui`; could you file the issue on that repo instead, please?

[2021-03-06 13:15] #39 closed

[2021-03-06 13:17] m417z commented on #39
https://github.com/nodegui/nodegui/issues/819

[2021-03-06 13:17] shirakaba commented on #37
Best to ask that question on the NodeGUI repo itself as this is just the repo for the Svelte integration. That said, I have no clue about enabling webGPU – I’m unclear whether it’s a question of integrating with Qt, with Qode (Node), or with both.

[2021-03-06 13:17] #37 closed

[2021-03-14 22:38] shirakaba commented on #36
Thanks @a7ul! Sorry for the late reply. This'll be my top priority next time I'm doing some open-source. Have just been taking a break since the initial release!

[2021-03-20 18:50] mperreir opened #40 "How to fetch data with an async call ?"
Hello,

I'm struggling at making a simple thing work : async data fetch. The documentation (https://svelte.nodegui.org/docs/guides/networking) explains how to write a function that make this async call, but not how to call it.

I've tried calling this async function directly in the (async) event handler of a button but the app crashes with `FATAL ERROR: v8::HandleScope::CreateHandle() Cannot creat

[2021-03-20 19:04] shirakaba commented on #40
Looks correct at a glance. What is your version of Node? I'm wondering whether it lacks support for await. Or maybe we've got some bad Babel settings configured.

[2021-03-20 19:26] shirakaba commented on #40
I'm noticing this build-time Webpack error, "Can't resolve 'encoding'", when I install `node-fetch` and reproduce your code:

[code]

I also got the same runtime error:

[code]

I wonder whether they're connected. The `encoding` module is an optional dependency, which is imported via `require()`, which makes it a little odd, and I wonder whether an extra Webpack plugin is needed for it or somethin

[2021-03-20 19:38] shirakaba commented on #40
I found the issue. [Apparently](https://stackoverflow.com/questions/36270437/awaiter-is-not-defined) we should set `"noEmitHelpers": false` in the `tsconfig.json` for our app in order for async/await to work correctly. Here's a working config:

[code]

[2021-03-20 19:52] shirakaba commented on #40
There are some other issues that have surfaced from this:

1. If you wrap the whole `{#await}...{/await}` block with an `{#if dataPromise}`, the enclosed text elements fail to update, with reasons relating to the next point.
2. The console is spamming `addChild() called on an element that doesn't implement nodeOps.remove() [ undefined ]`. This is something to do with updating the child text nodes

[2021-03-20 19:52] #40 closed

[2021-03-20 19:53] shirakaba opened #41 "Update the tsconfig to support async/await by default"
Found in https://github.com/nodegui/svelte-nodegui/issues/40#issuecomment-803452678.

[Apparently](https://stackoverflow.com/questions/36270437/awaiter-is-not-defined) we should set `"noEmitHelpers": false` in the `tsconfig.json` for our app in order for async/await to work correctly. Here's a working config:

[code]

[2021-03-20 19:54] shirakaba opened #42 "(#if, #each, and #await blocks not working fully) Issue updating text nodes: "addChild() called on an element that doesn't implement nodeOps.remove() [ undefined ]""
Found in https://github.com/nodegui/svelte-nodegui/issues/40#issuecomment-803454533:

1. If you wrap the whole `{#await}...{/await}` block with an `{#if dataPromise}`, the enclosed text elements fail to update, with reasons relating to the next point.
2. The console is spamming `addChild() called on an element that doesn't implement nodeOps.remove() [ undefined ]`. This is something to do with upd

[2021-03-20 19:57] #41 closed

[2021-03-20 20:24] shirakaba commented on #36
Fixed in `v0.0.2-alpha.2`!

[2021-03-20 20:24] #36 closed

[2021-03-20 22:15] mperreir commented on #40
Thank you very much, now it works as intended 😄  !
I'll continue testing svelte-nodegui.

[2021-03-20 23:53] mperreir opened #43 "wordWrap and (at least) readOnly properties don't seem to work"
When trying this code:
[code]
the text widget does not wrap and the plainTextEdit is not readonly.

[2021-03-21 16:55] mperreir commented on #42
In fact it happens also in other situations:
1. `{#each ... as ...} ... {/each}` inside a `{#if...} ... {/if} works correctly for the first update. But then if the variable tracked by the `{#if}` changes, only the first élément of the `{#each}` is inserted. The other ones fail with a `addChild() called on an element that doesn't implement nodeOps.insert() [ 'view' ]` in the console.
2. using only

[2021-03-21 18:41] shirakaba commented on #42
I've found the root cause of this (which would affect both `#if` and `#each` equally), but need to spend some more time on it to understand the appropriate way to fix it. It looks like my implementation for `addChild()` is incomplete in some way. I'll have to compare with Svelte Native and figure out how to implement this missing case.

[2021-03-23 11:51] mrsauravsahu commented on #42
@shirakaba looks like this is the same issue I was encountering when I created that example svelte-nodegui app. (https://github.com/nodegui/examples/pull/38) the nodes weren't updating inside an `{#if}` block.

[2021-03-23 18:28] mperreir opened #48 "<scrollArea> is broken"
The documentation states that any components enclosed with a `<scrollArea></scrollArea>` element should become scrollable. However when including such an element in a component, nodejs complains with a `UnhandledPromiseRejectionWarning: Error: No known component for element scrollArea.` when starting the application.

[2021-03-24 10:11] shirakaba commented on #48
Good catch. This is a simple fix; just need time to apply it.

Will involve updating the registry of components to include `scrollView`: https://github.com/nodegui/svelte-nodegui/blob/main/src/dom/nativescript-vue-next/runtime/registry.ts

... and updating the Svelte NodeGUI JSX intrinsic typings: https://github.com/nodegui/svelte-nodegui/blob/main/src/svelte-nodegui.ts

Looks like the component w

[2021-03-25 00:17] FractalHQ opened #49 "Rollup / Vite integration"
Hey there!  Absolutely love this project!!

I was wondering if there was a story around integration with rollup / vite?  Perhaps there is an example integration I could read over?

Anyways- thanks for this awesome project.  It's a much needed addition to the native landscape!

[2021-03-25 08:46] shirakaba commented on #49
Thank you!

Our webpack config is quite simple: https://github.com/nodegui/svelte-nodegui/blob/main/demo/webpack.config.js

I'm unfamiliar with Vite, but to port it to something like Rollup, I think the main thing that would be needed would be a Rollup equivalent of `native-addon-loader` (which I'm unfamiliar with). Beyond that, you'd pretty much just take the [Svelte starter template](https://git

[2021-03-25 14:56] gevera opened #50 "Issues with Webpack"
Have troubles running nodegui. Any ideas why this is happening?

node -v v14.15.4
gcc version 11.0.0
cmake version 3.19.7
GNU Make 4.3
Fedora 34

`
 npm run dev

assets by status 58.1 KiB [cached] 1 asset
asset index.js 1.57 MiB [compared for emit] (name: main) 1 related asset
runtime modules 21.9 KiB 10 modules
modules by path ./node_modules/@nodegui/ 672 KiB 214 modules
modules by path ./node_mo

[2021-03-25 19:34] shirakaba commented on #50
Sounds like it’s looking for a NodeGUI file and not finding it. I’ve not experienced that. Maybe first try `npm ci` to reinstall the node_modules and try again?

[2021-03-26 10:49] cicada1993 opened #51 "native module error even if recompiled"
WARNING in ./node_modules/node-fetch/lib/index.mjs 156:11-38
Module not found: Error: Can't resolve 'encoding' in 'D:\Workspace\svelte-nodegui-starter\node_modules\node-fetch\lib'
 @ ./src/components/StepTwo.svelte 19:0-31 126:25-30
 @ ./src/App.svelte 26:0-50 50:15-22
 @ ./src/app.ts 2:0-31 3:14-17

after recompiled by npm rebuild --nodedir=node_modules/@nodegui/qode

also error

[2021-03-26 20:58] shirakaba commented on #51
`encoding` is an optional dependency of `node-fetch`. Have you tried installing it?

[2021-03-27 02:13] cicada1993 commented on #51
got it,thanks

[2021-03-27 02:13] #51 closed

[2021-03-27 02:30] cicada1993 opened #52 "how to open a new window?"
i tried to add a new view on current window as follow,successed
`
import CustomView from "./CustomView .svelte";
let viewContainer= document.createElement("view")
viewContainer['setStyle']("width", "400px")
viewContainer["setStyle"]("height", "400px")
document.body.childNodes[0].childNodes[0].appendChild(viewContainer)
let viewInstance = new CustomView (
    {
        target: viewContainer,

[2021-03-27 10:16] mperreir commented on #48
It might be a bit more subtle than this. I applied those changes on a fork of your code (with a few other adds to https://github.com/nodegui/svelte-nodegui/blob/main/src/index.ts and https://github.com/nodegui/svelte-nodegui/blob/main/src/dom/react-nodegui/src/index.ts).No more errors during execution, but... the scrollArea (and its child) do not appear :-(

[2021-03-27 11:33] mperreir commented on #48
After a bit more testing is seems that scrollArea is kind of working but there are some strange size issues with both scrollArea and its child. See PR #53 (added scrollArea and updated demo to highlight the current problem).

[2021-03-27 15:52] shirakaba commented on #48
Agreed that there are size issues with both. I'm not immediately sure why. First https://github.com/nodegui/svelte-nodegui/issues/42 needs to be solved, to ensure that child nodes are being added correctly in the first place (which particularly impacts the`<text>` component). But it's odd that I was unable to get `<scrollArea>` to work properly even when simply adding a `<view>` child to it. This

[2021-03-27 16:09] shirakaba commented on #52
This'll work:

[code]

<img width="403" alt="image" src="https://user-images.githubusercontent.com/14055146/112726678-9bbf7380-8f16-11eb-83eb-0b60e89532c8.png">

Note that the new window will open in exactly the same place as the old one. You'll have to explore the [NodeGUI](https://docs.nodegui.org/docs/api/generated/classes/qmainwindow/) and [Qt](https://doc.qt.io/qt-5/qmainwindow.html) APIs to

[2021-03-27 16:09] #52 closed

[2021-03-27 16:57] shirakaba commented on #43
I've found the reason for the issue. **Svelte is compiling the attributes from camel-case to lower-case before passing them to Svelte NodeGUI.** This is something I'd thought we'd solved once and for all with the PRs to Svelte from @halfnelson @mrsauravsahu to support foreign namespaces. The Svelte NodeGUI preprocessor implicitly inserts `<svelte:options namespace="foreign" />` to indicate that ou

[2021-03-27 17:13] shirakaba commented on #43
A horrible workaround for now if it's blocking you:

[code]

And use like this:

[code]

[2021-03-27 17:14] #15 closed

[2021-03-27 17:14] shirakaba commented on #15
Closing, as this is specific to NodeGUI rather than Svelte NodeGUI.

[2021-03-27 17:14] #13 closed

[2021-03-27 17:27] mperreir commented on #43
Far from perfect, but at least it allows to set `wordWrap` and `readOnly` on components that need it :-).

[2021-03-27 17:29] msyfls123 commented on #49
I have tried to simply bundle `svelte-nodegui` App with Rollup and found it wouldn't be executed. There are several problems:
- `*.node` should be handled like `native-addon-loader` (maybe `@rollup/plugin-url` is qualified enough)
- `nodegui` itself has PostCSS and addon unknown QObject export bindings issues

So I just set `@nodegui/nodegui` as externals, and it could be left in node_modules with

[2021-03-27 17:49] FractalHQ commented on #49
Thanks @msyfls123!  I will take a look!

@shirakaba As far as Vite goes, it's built on rollup and supports all rollup config options.

Sveltekit is built on Vite which is built on Rollup so it should be possible.  Sveltekit builds for node by default with [svelte-adapter-node](https://www.npmjs.com/package/@sveltejs/adapter-node).  I believe it leverages ESBuild's [native node bundling support](ht

[2021-03-27 18:04] shirakaba commented on #49
It's a valid workaround. I think I might have gave up and done the same with `phin` as well (it's a really awkward library). It may have consequences for when you come to package the final app, however, so let's try to get past it!

Oh nice, sounds promising :)

That certainly looks like it might do the trick!

[2021-03-27 18:13] shirakaba commented on #48
@johanalkstal is this what you were experiencing with regular NodeGUI? Does ScrollArea not work for you?

We're experiencing problems trying to get it to do anything sensible in Svelte NodeGUI and I'm wondering whether the problem stems from NodeGUI itself or not.

[2021-03-27 18:16] shirakaba commented on #48
Some possibly relevant issues:

* https://github.com/nodegui/react-nodegui/issues/341#issuecomment-792515899
* https://github.com/nodegui/react-nodegui/issues/342
* https://github.com/nodegui/nodegui/issues/592#issuecomment-792264782

[2021-03-29 05:36] johanalkstal commented on #48
The issue I have is similar to https://github.com/nodegui/react-nodegui/issues/342

That is, I try to use QScrollArea with a QWidget as its child, and the QWidget contains dynamically added QLabels, but the scroll bars don't appear.

[2021-04-05 14:40] shirakaba opened #55 "Svelte NodeGUI fails to install if path has certain punctuation in it (due to subdependency postinstall step failing)"
See: https://github.com/nodegui/nodegui/issues/827

[2021-04-05 14:43] shirakaba commented on #38
Thought: it may (or may not) be something to do with the path at which you installed it containing unsafe punctuation:

https://github.com/nodegui/nodegui/issues/827

[2021-04-09 16:47] AddictArts opened #56 "chrome://inspect not working as described in hello app"
The instructions mention click on "Source -> Node -> 'Your node process'" There is no "Source" thing to click, while there is sources? Also after clicking sources and node tab, there is no node process to look at.

Unable to debug app when following the docs.

[2021-04-13 02:21] bastinald opened #57 "Error while setting up Qode"
[code]

[2021-04-13 08:34] shirakaba commented on #57
This should be filed on the `@nodegui/qode` repo, with steps to reproduce the problem, as it’s a subdependency of Svelte NodeGUI, not a part of Svelte NodeGUI itself.

[2021-04-13 08:34] #57 closed

[2021-04-20 16:41] #42 closed

[2021-04-20 16:46] shirakaba commented on #42
Hopefully fixed with the changes I've made in v0.0.4! I rewrote a large amount of the DOM handling from the ground-up. It was handling perfectly on an `#await` block wrapped by an `#if` block. I haven't tried with `#each` blocks yet, but we can reopen this issue if we find it still affects those.

[2021-04-21 22:29] shirakaba opened #61 "Add jonasgrunert to contributors"
For https://github.com/nodegui/svelte-nodegui-starter/pull/2

[2021-04-21 22:29] shirakaba commented on #61
@all-contributors please add @jonasgrunert for code

[2021-04-21 22:30] shirakaba commented on #61
Closed by https://github.com/nodegui/svelte-nodegui/pull/62

[2021-04-21 22:30] #61 closed

[2021-04-23 16:47] benbucksch opened #63 "Widgets should be generated - Lots of widgets are missing"
The [docs](https://svelte.nodegui.org/docs/api/interfaces/buttonprops) list only a number of very basic widgets.
These seem to be [implemented in React NodeGUI](https://github.com/nodegui/svelte-nodegui/tree/main/src/dom/react-nodegui/src/components), and Svelte NodeGUI just bridges over the React implementations.

For my real world application, I need a much larger number of Qt widgets.

However,

[2021-04-23 17:27] benbucksch commented on #63
@a7ul @shirakaba

[2021-04-24 08:01] shirakaba commented on #63
## The set of QWidgets supported by Svelte NodeGUI

Svelte NodeGUI supports all the widgets that React NodeGUI does (unless I've missed any, but I did look quite hard), plus QSvg. The full set is listed here:

https://github.com/nodegui/svelte-nodegui/blob/1ce01eb64e4cf23ee31865592e737b729eb89a2b/src/svelte-nodegui.ts#L62-L158

The Svelte NodeGUI docs (which are incidentally just a copy-paste of t

[2021-04-25 00:01] benbucksch commented on #63
Hi Jamie, first off, thank you for your very detailed response! I appreciate it.

Thanks. That's the list of widgets I was looking at.

Indeed, what you and Atul accomplished here is seriously impressive. I love the concept. This is no small feat, and that you two got this done alone, probably not even as full time job, really speaks to your competence. I've written similar frameworks, and I know

[2021-04-25 12:03] shirakaba commented on #63
That sounds like a nice fit for a Qt app indeed. I've not seen any prior art on deploying NodeGUI to mobile via Qt for mobile, however, so it's uncharted territory.

True, those are missing from NodeGUI.

Indeed, the browser view alone probably has an enormous API surface. Yes, I agree that an automated process for producing bindings from Qt to NodeGUI would be ideal, though I don't have the exper

[2021-04-28 20:38] halfnelson commented on #43
Looking at the Svelte JS output of the same code in the repl (https://svelte.dev/repl/a64f21f99f3d48de992a731a76818c32?version=3.37.0)  gives us a clue

[code]

The elements are being detected as and forced to SVG. There must be some code in svelte that does this which we need to skip for namespace foreign

[2021-04-29 16:54] ghostdevv opened #65 "Fish shell"
This doesn't seem to work for me using fish, I had to switch to bash. While this isn't a problem it would be nice to support it.

OS: Manjaro Linux
Fish: 3.2.1
Node: 12 (latest)
Node gui: Starter template

[2021-04-29 19:27] shirakaba commented on #65
In what way does it fail? Please provide details (e.g. CLI logs, error logs). Does it fail at build-time or run-time?

[2021-04-30 10:09] ghostdevv commented on #65
Both build time and run time, I can try and get an error log for you both later tonight

[2021-04-30 21:27] shirakaba opened #66 "Catch up with React NodeGUI (copy across the Table, TableItem, and ErrorPrompt components)"
https://github.com/nodegui/react-nodegui/commit/f0feda0b9bd512340a2bb4e570847f70226ef516

[2021-05-03 11:30] ghostdevv commented on #65
Hey, sorry for the late response @shirakaba . Here is the output of `npm run dev` after following the instructions [here](https://github.com/nodegui/svelte-nodegui-starter): [https://sourceb.in/Tf2EFw8sDW](https://sourceb.in/Tf2EFw8sDW)

This might be a problem with `npm install` in fish as it seems to take a shorter amount of time and prints a lot less in fish than bash, it might be that fish isn

[2021-05-03 11:35] ghostdevv commented on #65
Update: this definitely seems like a problem with `npm install` as I switched to bash and typed `npm install` and it worked. Not sure if this problem is caused by npm or nodegui

[2021-05-03 12:24] shirakaba commented on #65
@ghostdevv thanks for the details. It looks like bundling failed because the `@nodegui/svelte-nodegui` node module hadn’t been installed. So the question is why it hadn’t been installed.

What happens when you do a fresh clone of the starter template (in Fish) and follow the instructions up to and including the run `npm install` step? Is there an error seen during installation?

[2021-05-03 12:32] ghostdevv commented on #65
I think running `npm install` in fish is causing whatever the build process that should run to not run. When I run npm install in bash it's running fine

[2021-05-03 15:07] shirakaba commented on #65
@ghostdevv I've just updated the [starter template](https://github.com/nodegui/svelte-nodegui-starter) because the package-lock had a possible version mismatch with the package.json. If you could please try starting a project afresh from that, I'd be interested to know the outcome.

[2021-05-03 16:17] shirakaba commented on #65
@ghostdevv Also, what version of Node are you using?

[2021-05-03 17:21] ghostdevv commented on #65
I was doing some more debugging and I noticed when fish started it is defaulting to node `16.0.0` for some reason, it's supposed to be on 14.x, when typing `fish` then `node -v` again it goes back to 14.x which works. Very odd.

Seems to just be issues with node 16 then.

[2021-05-03 17:31] ghostdevv commented on #65
This is odd, I managed to sort out the version issue using a [port of nvm for fish](https://github.com/jorgebucaran/nvm.fish) and installing worked fine however I am still getting the error, here is a fresh copy in case it's different: https://sourceb.in/KYdP9NaeoV

The same error happens when running `npm run dev` in bash so it might still be a install issue?

Both bash and fish are showing the s

[2021-05-03 18:36] shirakaba commented on #65
I'm (successfully) using Node v14.6.0 myself, so I think we're onto something. What npm version is referenced? I'm on npm v6.14.7.

The error in your paste indicates that both Webpack and ts-loader are failing to resolve `@nodegui/svelte-nodegui`, so it would seem that `node_modules/@nodegui/svelte-nodegui` is missing following your `npm install`. Is this the case? I wonder whether the `require()`

[2021-05-03 18:54] ghostdevv commented on #65
I am on npm 6.14.13, here are logs from `npm install` in fish: <https://sourceb.in/oNS5t4nR1E>

[2021-05-03 19:06] ghostdevv commented on #65
I am not sure this is just fish, I just tried in only bash and it still can't find svelte-nodegui. Which is making me confused.

I tried just basic node gui and it worked fine so I think that rules out possible system requirement errors? (Works in both fish and bash)

[2021-05-03 22:45] shirakaba commented on #65
I have a suspicion.

As far as I can see (I’m on my phone), the `@nodegui/svelte-nodegui/package.json` lacks a `main` field.

The Rollup bundle I believe is outputting to `dist/index.js`: https://github.com/nodegui/svelte-nodegui/blob/1ce01eb64e4cf23ee31865592e737b729eb89a2b/rollup.config.js#L55

Could you try manually patching that package.json to set the `main` field as such, then running `npm r

[2021-05-04 10:31] n3ir commented on #65
I tried it. It did not work, maybe because the starter project is using webpack?

[2021-05-04 11:10] shirakaba commented on #65
Okay after many red herrings, I've found the problem.

In (at least) the last release of Svelte NodeGUI, I clearly ran `npm publish --access=public` in the root directory instead of `npm run deploy`, so it published the repo root rather than the built repo. This is clear because the node module only contains sources and no built files.

I'll republish it this evening (or during my lunch break in t

[2021-05-04 11:37] shirakaba commented on #65
Until I have a moment to republish the package, your best option is to try downgrading through each different version of `@nodegui/svelte-nodegui` until you find one that works.

The last versions are:

[code]

[2021-05-04 20:37] shirakaba commented on #65
I've republished it; should be fixed in version `0.1.2`:

[code]

[2021-05-06 16:08] ghostdevv commented on #65
So I can actually get something running now, webpack seems to just hang in both `build` and `dev`, I exited after a few minutes of it having and tried `npm run start` and got this:

![](https://i.imgur.com/rJktrST.png)

It is still not building the stuff it's supposed to in fish so had to run `npm install` with bash

[2021-05-10 20:42] shirakaba commented on #65
It looks like it's building the app and running it.

In `dev` mode, the Webpack process is set to "watch" mode, so it awaits changes to your files; is that what you're seeing? Does it react (i.e. live-reload) when you save a change to a `.svelte` file?

But as you say, if the `build` command hangs, then it's probably something else.

As I neither use Manjaro Linux nor Fish shell, I don't have much

[2021-05-19 20:47] ghostdevv commented on #65
Hey sorry for the late reply. If it doesn't work in fish it doesn't, I could make a issue in NodeGUI but I would need to do some testing to see if it's my setup or other setups. As long as I can run it in bash that is no problem

[2021-08-04 06:27] ohbob opened #67 "Starter"
The example starter won't work.

[code]

[2021-08-07 17:26] VOID404 commented on #67
I have the same problem on Arch Linux with node v16.5.0

[2021-08-22 02:29] jsprog opened #68 "Rendering Breaks if User Components Used"
**Description:**
- Rendering breaks if `App.svelte` used user components (e.g: `StepOne.svelte & StepTwo.svelte` in starter template). Please, refer to https://github.com/nodegui/svelte-nodegui-starter/issues/4 for image.
- This started from `@nodegui/svelte-nodegui@0.0.4`. The most recent version `@0.1.2` isn't fixing this.
- The **last version tested to work** without breaking the rendering is *

[2021-09-01 19:04] weepy opened #69 "webrtc"
Hiya - quick question : does this support WebRTC?

[2021-09-02 08:30] shirakaba commented on #69
I’m not aware that it does – but that’d be more of a NodeGUI question than a Svelte NodeGUI question.

[2021-09-02 08:30] #69 closed

[2021-10-06 18:43] taw commented on #67
Yeah, same, still doesn't work, and really unclear why.

[2021-10-06 18:51] shirakaba commented on #67
Me neither. Could you try deleting the package-lock.json and seeing whether it improves things?

If not, no idea still 🤷‍♂️ never happened on my setup.

[2021-11-02 19:46] garyrob opened #70 "Gibberish main window"
The first time I do `npm start`, the attached screenshot is the window I see. This is on MacOS 11.6.

I did have some other problems getting it running at all for the first time. I was able to get past them, but I am mentioning them here in case they're related. The first is described at [this link](https://githubmemory.com/repo/nodegui/svelte-nodegui-starter/issues/3), which was resolved by follo

[2021-11-03 08:01] shirakaba commented on #70
Could you try deleting the package-lock.json and reinstalling the dependencies and seeing whether it improves things?

Basically I can’t explain the issue so I can only conclude that NodeGUI itself (which Svelte NodeGUI depends upon) has changed since I was last working on this.

[2021-11-04 21:01] jsprog commented on #70
@shirakaba , with all respects to your efforts with this project, I already explained the same problem about rendering in #68 and said that **it started with @nodegui/svelte-nodegui@0.0.4**.

[2021-11-05 00:29] shirakaba commented on #70
On my end, I never saw such problems in versions following 0.0.4, so I don’t have much to go on.

Can you try pinning your `nodegui` dependency to be exactly this version and tell me whether it helps?

[code]

[2021-11-07 01:27] garyrob commented on #70
[Sorry for the slow response; I fell quite ill and basically dropped out for a couple days.]

Hmm. If I use that version of nodegui I get the following error when I do `npm run dev`.

[code]

[2021-11-08 09:58] shirakaba commented on #70
0.1.2 is the latest version of `@nodegui/svelte-nodegui`. Unless you're talking about `@nodegui/nodegui` – but I've never developed against that, so let's not go down that rabbit hole.

No idea. Doesn't happen on my side, and I've looked into it in other issue threads without any luck. My working setup:

* Node.js v14.6.0 (this is probably the main factor)
* macOS Big Sur

As the issue doesn't rep

[2021-11-08 20:02] garyrob commented on #70
Sorry about the version number confusion... as I mentioned above I was quite ill for a couple days and am still not fully recovered or up to my normal level of thinking!

I just wanted to try svelte-nodegui out, but couldn't because of these problems. I'm not sure I'll be able to spend more time investigating it, although I'd like to. I'll post here if I do.

[2021-12-25 11:09] ceremcem commented on #68
Is there any progress on this?

[2021-12-25 14:22] shirakaba commented on #68
I’ve no idea why layout is going strange as I haven’t changed the code since the last working release. I’ve tried a few combinations of dependencies with no luck. I’m not sure whether it’s a problem in Svelte NodeGUI, NodeGUI itself, Qt5, or computer environment. Until some clues emerge, I’m not sure how to proceed.

[2021-12-25 17:15] ceremcem commented on #68
I don't understand if the layout is broken also for you or not. If it works for you, I would suggest setting up a virtual environment, which I find [nodeenv](https://github.com/ekalinin/nodeenv) useful.

I'm using Debian Buster and this release has [a known Qt5 issue](https://github.com/tasmota/tasmotizer/issues/71#issue-780883689), so it might be a Qt5 related issue.

Debian Buster
NodeJS: v12.22

[2021-12-25 18:21] Levyks commented on #68
I'm having the same problem in Windows 11, so it's probably not an issue with Debian Buster

I've tested with Node v16.13.0 and v14.6.0

I used the `svelte-nodegui-starter` template with the version of `@nodegui/svelte-nodegui` bumped to 0.1.2

[2021-12-25 20:36] shirakaba commented on #68
It’s broken for me on my M1 Mac but wasn’t last time I checked on my Intel Mac. I tried various different mixtures of dependencies, but my M1 Mac can’t run the same dependencies as the Intel one, so I can’t compare like-for-like.

When I have a free moment, I can try on my Intel Mac again, but I remember this issue being filed by others while it was still working perfectly fine on my Intel Mac.

[2021-12-26 12:13] ceremcem commented on #68
Might this be related to the GCC version? Mine is: gcc version 8.3.0 (Debian 8.3.0-6)

[2021-12-26 14:44] shirakaba commented on #68
I doubt it. Could you try with `svelte-nodegui@0.0.4`, out of curiosity?

[2021-12-27 14:42] Levyks commented on #68
That fixed it for me, any significant changes from that version to the current ones?

[2021-12-27 21:53] shirakaba opened #72 "Child element insertion algorithm is incorrect"
Root cause issue for:

* #65
* #68
* #70
* https://github.com/nodegui/svelte-nodegui-starter/issues/4

I think I finally understand what's going on. `v0.0.3-alpha.1` was the last release in which the [starter template](https://github.com/nodegui/svelte-nodegui-starter)'s layout was seen to be correct.

However, in that release, `{#each}` and `{#if}` blocks didn't work correctly. So I merged the PR

[2021-12-27 21:54] shirakaba commented on #68
Closed in favour of the more focused issue, #72.

[2021-12-27 21:54] #68 closed

[2021-12-27 21:57] shirakaba commented on #65
I won't be working on fish shell support, so I'm afraid I will be closing this issue; all I can recommend is to use `bash` or `zsh`.

The layout problem is another matter: discussion moving to #72.

[2021-12-27 21:57] #65 closed

[2021-12-27 21:58] shirakaba commented on #70
Closed in favour of #72.

[2021-12-27 21:58] #70 closed

[2021-12-27 22:13] shirakaba commented on #67
See also: https://github.com/nodegui/svelte-nodegui-starter/issues/6

[2021-12-29 17:57] shirakaba commented on #72
I've looked into this for a few hours. As far as I can tell, the DOM algorithm is absolutely correct. And indeed, it's user components that layout is messing up for.

The only clue I can find as to why user components may be breaking is that they're getting interpreted as SVG. Our preprocessor should guard against this (it sets the namespace for all .svelte files as "foreign"), so I'm really not s

[2021-12-30 08:25] ceremcem commented on #72
How does svelte-nodegui differs from nodegui? What does the `svelte-` part do under the hood?

AFAIU, nodegui only offers a Javascript API, so any UI design system on top of it (`svelte-`, `react-`, `vue-` and possibly https://github.com/nodegui/nodegui/issues/423) will have to generate the corresponding Javascript code under the hood, right?

If this is right, `svelte-` part of `svelte-nodegui` t

[2021-12-30 14:01] shirakaba commented on #72
@ceremcem NodeGUI consists of:

* a library of node.js->native bindings allowing you to control Qt5 from Node.js
* a minor fork of Node.js, Qode, that syncs up its event loop with that of Qt5
* a flexbox layout system based on yoga, allowing you to use flexbox layout on Qt5 widgets

So NodeGUI alone does not implement DOM.

React NodeGUI implements all the parts of DOM required for React support,

[2022-04-05 13:50] enpitsuLin commented on #49
The easiest way to use vite is to use the vite api to build a script that uses the vite plugin to add logic to the writeBundle hook to run the packaged product in qode.

I made a react-based template, vue and svelte also should be work : [react-nodegui-vite-starter](https://github.com/enpitsuLin/react-nodegui-vite-starter)

[2022-09-16 16:43] M-Gonzalo commented on #67
Same happened to me. Manually installed it and it ran

[2022-09-16 16:51] M-Gonzalo opened #73 "Broken layout on Linux"
Image speaks for itself. I haven't touched the code yet, this is my first try with the skeleton repo.

System: Manjaro Linux x86-64 KDE, up-to-date.

![Screenshot_20220916_134458](https://user-images.githubusercontent.com/23223606/190689023-925c66c6-480d-46f4-966b-540ca77ae5ab.png)

[2022-09-21 12:27] M-Gonzalo commented on #73
Hello... anyone here?

[2022-09-22 02:19] shirakaba commented on #73
Layout seems to be broken on certain platforms since a certain version of nodegui and I haven't been able to figure out the reason. I don't have a Linux setup and couldn't get things to build/run on my M1 Mac last time I tried, so I'm afraid I can't investigate!

[2022-09-22 02:22] M-Gonzalo commented on #73
React version works though

[2022-09-22 15:42] shirakaba commented on #73
Useful info, but I’m afraid I can’t get it to run on my computer!

[2022-09-23 09:52] dlight commented on #73
Is this related to #72?

[2022-09-24 01:33] shirakaba commented on #73
Ah, yes. So the status on that is that we can either have:

- `@nodegui/svelte-nodegui@0.0.3-alpha.1`: working layout, but broken `{#each}`/`{#if}`;
- `@nodegui/svelte-nodegui@0.0.4` to the current latest version (`@nodegui/svelte-nodegui@0.1.2`), : working `{#each}`/`{#if}`, but broken layout.

Obviously neither of these is acceptable.

As mentioned in https://github.com/nodegui/svelte-nodegui/is

[2022-09-24 01:34] #73 closed